<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
    <if args="cart.items.getLength()">
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: cart.items.filter(
                    function (item) { return !item.isRelatedItem(); }
                    ), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{ name: getTemplate(), data: item }"
                />
            </ol>
        </div>
    </if>

    <ifnot args="summaryCount() || cart.items.getLength()">
        <h3 class="subtitle empty"
           translate="'You have no items in your shopping cart.'"
        />
        <p class="minicart empty text" text="cart().cart_empty_message"/>
    </ifnot>

    <div class="actions">
        <if args="summaryCount() || cart.items.getLength()">
            <each args="getRegion('subtotalContainer')" render=""/>
            <each args="getRegion('extraInfo')" render=""/>
            <if args="location.pathname !== '/sveacheckout/'">
                <a class="action primary checkout" ontouchstart=""
                    data-bind="attr: {href: checkoutUrl}, css: {disabled: !summaryCount()}"
                    translate="'Proceed to Checkout'"
                />
            </if>
        </if>
        <button class="action close" ontouchstart=""
            translate="'Continue Shopping'"
        />
    </div>
